<% provide(:page_title, @post.title) %>
<% provide(:blog_active, 'active')%>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Lora:400,700|Roboto:400,700" rel="stylesheet">
    <div class="row">
      <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
          <div class="singleblog">
            <h2><%=@post.title %></h2>
            <p><%= @post.display_day_published %> </p>
            <!--<div class="jumbotron2" style="background-image: url(<%= @post.banner_image_url %>)" ></div> -->
          </div>
      </div>
      <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">
      </div>
    </div>


  <div class="row ">
      <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">
     </div>
      <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
        <div class=singleblogtwo>
      <p>  <%= @post.body.html_safe %> </p>
      <p> <%= social_share_button_tag(@post.title) %>
        </p>
        </div>
      </div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-2 col-xl-3">
    </div>
 </div>
<!-- <div class="col-md-10 offset-md-2 col-lg-8 offset-lg-4> -->
 <!--<div class="row"> -->
<!--  -->
<!--</div> -->
