<!DOCTYPE html>
<html>
  <head>
    <title><%=yield(:page_title)%> | First Hand </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Arvo:400,700|Lora:400,700|Roboto:400,700" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container <%= controller_name %> <%= action_name %>">
    <%= yield %>
  </body>
</html>
